@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h3>Here are all the clients with this Stylist:</h3>

<ol>
@foreach (Client client in @Model["clients"])
{
  <li><a href='/stylists/@Model["stylist"].Id/clients/@client.Id'>@client.Description</a></li>
}
</ol>

<h1><a href='/stylists/@Model["stylist"].Id/clients/new'>Add a new client</a></h1>
<h1><a href='/stylists'>Return to stylist list</a></h1>
<h1><a href='/'>Return to Main Page</a></h1>